{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans "Change Password" %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12">
    <br/><br/>
    <form id="password-table" method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <table class="table table-bordered">
        {{ form.as_table }}
        </table>
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}


{% block css %}
    {{ block.super }}
    <style>
        #password-table table th:first-child { width:35%; }
        #password-table table td:nth-child(2) input { width:60%; }
    </style>
{% endblock %}