{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans "Change Password" %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}
