{% extends "base.html" %}{% load i18n account socialaccount crispy_forms_tags %}

{% block page_title %}{% trans "Sign up" %}{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans "Sign Up" %}</h1>
</div>
{% endblock %}

{% block content %}

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  {% crispy form %}
  <button type="button" class="btn btn-success btn-lg" aria-label="Left Align" onClick="window.signup()">
    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
    {% trans "Sign Up" %}
  </button>
<!-- 
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

{% endblock %}


{% block javascript %}
<script>
$( document ).ready(function( $ ) {
window.signup = function () {
  $('form').submit();
}
});
</script>
{% endblock %}