{% extends "base.html" %}{% load i18n account socialaccount crispy_forms_tags %}

{% block page_title %}{% trans "Sign up" %}{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans "Sign Up" %}</h1>
</div>
{% endblock %}

{% block content %}

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  {% crispy form %}

{% endblock %}


{% block javascript %}
<script>
$( document ).ready(function( $ ) {
window.signup = function () {
  $('form').submit();
}
});
</script>
{% endblock %}