Django==1.9.4
Fabric==1.10.2
GitPython==1.0.2
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
Pillow==3.1.1
PyJWT==1.4.0
PyPDF2==1.25.1
PyYAML==3.11
Werkzeug==0.11.5
amqp==1.4.9
anyjson==0.3.3
argparse==1.4.0
arrow==0.7.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.4.1
billiard==3.3.0.23
boto==2.39.0
celery==3.1.23
certifi==2022.12.7
cffi==1.5.2
click==6.4
coverage==4.0.3
crcmod==1.7
cryptography==1.3.1
cssselect==0.9.1
cssutils==1.0.1
decorator==4.0.9
diff-match-patch==20121119
-e git+https://github.com/rosscdh/django-allauth@0f056cfa868d488299ca4bd233af2ecc41a0127f#egg=django_allauth-origin
django-annoying==0.9.0
django-appconf==1.0.1
django-autoslug==1.9.3
django-bower==5.1.0
django-celery==3.1.17
django-classy-tags==0.7.2
django-cookie-law==1.0.8
django-cors-headers==1.1.0
django-countries==3.4.1
django-crispy-forms==1.6.0
django-easy-pdf==0.1.0
django-embed-video==1.0.0
django-environ==0.4.0
django-extensions==1.6.1
django-extra-fields==0.6
django-filter==0.13.0
django-geoposition==0.2.2
django-hstore==1.4.1
django-import-export==0.4.5
django-inlinecss==0.1.2
django-inmemorystorage==0.1.1
django-jsonfield==0.9.19
django-leaflet==0.18.0
django-money==0.7.6
django-mptt==0.8.3
-e git+https://github.com/batiste/django-page-cms.git@fd94430ee8e1877acb285a54060397b8c08bb8a4#egg=django_page_cms-dev
-e git+https://github.com/agiliq/Django-parsley.git@c11296dafcea475a6a6ec85b016b7a59b56c2470#egg=django_parsley-dev
django-pipeline==1.6.6
django-rest-auth==0.7.0
django-rest-swagger==0.3.5
django-rq==0.9.0
django-rulez==1.0.2
django-shortuuidfield==0.1.3
django-storages-redux==1.3.2
django-taggit==0.18.0
-e git+https://github.com/rosscdh/django-templated-email.git@fd2eabd4afa0da520d5e8ffb3dc07a397a2cfbd3#egg=django_templated_email-origin
djangorestframework==3.3.3
djangorestframework-hstore==1.3
djangorestframework-jwt==1.7.2
drf-extensions==0.2.8
easy-thumbnails==2.3
ecdsa==0.13
enum34==1.1.2
freezegun==0.3.6
funcsigs==0.4
future==0.15.2
futures==3.0.5
gitdb==0.6.4
honcho==0.6.6
html2text==2016.1.8
html5lib==0.9999999
httpretty==0.8.14
icalendar==3.9.2
idna==2.1
influxdb==2.12.0
ipaddress==1.0.16
jsonfield==1.0.3
kombu==3.0.35
livereload==2.4.1
lxml==3.6.0
mkdocs==0.15.3
mkdocs-bootstrap==0.1.1
mkdocs-bootswatch==0.4.0
mock==1.3.0
mock-django==0.6.10
model-mommy==1.2.6
ndg-httpsclient==0.3.0
oauthlib==1.0.3
paramiko==1.16.0
pbr==1.8.1
-e git+https://github.com/rosscdh/pinax-eventlog.git@d1018d626db926dee6593bc7f51dd653659367b1#egg=pinax_eventlog-origin
ply==3.8
psycopg2==2.6.1
pusher==1.2.3
py==1.4.31
py-moneyed==0.6.0
pyOpenSSL==16.0.0
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
pynliner3==0.6
pyquery==1.2.11
pytest==2.9.1
python-dateutil==2.5.1
python-openid==2.2.5
-e git+https://github.com/rosscdh/python-secupay.git@c78a1a63611279df6e38306ca499a5c5cad99e99#egg=python_secupay-master
python-social-auth==0.2.14
pytz==2016.3
redis==2.10.5
reportlab==2.7
requests==2.9.1
requests-mock==0.7.0
requests-oauthlib==0.6.1
rollbar==0.11.5
rq==0.5.6
shortuuid==0.4.3
singledispatch==3.4.0.3
six==1.10.0
slimit==0.8.1
smmap==0.9.0
tablib==0.11.2
termcolor==1.1.0
tornado==4.3
tqdm==3.8.0
urllib3==1.14
wsgiref==0.1.2
xhtml2pdf==0.0.6
django-robots==2.0
