{% extends 'base.html' %}{% load cache pages_tags i18n %}

{% block page_header %}
{% if in_document_view %}
<p>
    <strong>You have delegated the rendering of this page to the document view.</strong>
</p>
{% if document %}
<p>
    <strong>You selected this document: {{ document.title }}</strong>
</p>
{% endif %}
<ul>
{% for doc in documents %}
<li><a href="{% url "document_details" path=current_page.get_complete_slug document_id=doc.id %}">{{ doc.title }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block content %}
    {% placeholder right-column with RichTextarea parsed as right_column %}
    <div style="float:right;width:25%">
    <h3>Right column placeholder</h3>
    <div class="right_column">{{ right_column }}</div>
    </div>

    {% if current_page %}
    <div style="width:70%">

        <div>Body placeholder
            <div id="body" class="placeholder">{% placeholder body with RichTextarea %}</div>
        </div>

        {% imageplaceholder body-image as imgsrc %}
        {% if imgsrc %}
            <img src="{{ MEDIA_URL }}{{ imgsrc }}" alt=""/>
        {% endif %}

    </div>
    {% endif %}

{% endblock %}
