{% load i18n %}
<div class="doc-list list-group">
  <div class="notice alert alert-warning hide" role="alert">
    <b>{% trans 'Please login to view the selected document.' %}</b>
    <p><a href="{% url 'account_login' %}" class="btn btn-primary">{% trans 'Login' %}</a></p>
  </div>
  {% for row in documents %}
    {% if row.login_required == False or row.login_required and is_logged_in %}
      <a href="{{ MEDIA_URL }}{{ row.document }}" target="_NEW" class="list-group-item">
        <span class="glyphicon glyphicon-save-file"></span>&nbsp;{{ row.name }}
      </a>
    {% else %}
      <a href="javascript:;" class="require-logged-in list-group-item">
        <span class="glyphicon glyphicon-save-file"></span>&nbsp;{{ row.name }}<span class="pull-right glyphicon glyphicon-lock"></span>
      </a>
    {% endif %}
  {% empty %}
    <b>{% trans 'No documents found' %}</b>
  {% endfor %}
</div>
