{% load i18n static %}
<div class="table-responsive">
  <table class="table table-responsive table-striped">
  {% if header %}
  <tr>
    <th colspan="2" class="bg-primary"><b>{% trans 'Documents' %}</b></th>
  </tr>
  {% endif %}
  <tr>
    <td>{% trans 'Exposé TodayHaus' %}</td>
    <td><a href="{% url 'project:media_permalink' slug=project_slug media_slug=expose_document.uuid %}" target="_NEW" class="btn btn-link btn-primary">{% trans '.PDF Download' %}</a></td>
  </tr>
  <tr>
    <td>{% trans 'Generic Loan Agreement' %}</td>
    <td><a href="{{ loan_agreement }}" target="_NEW" class="btn btn-link btn-primary">{% trans '.PDF Download' %}</a></td>
  </tr>
  <tr>
    <td>{% trans 'Term Sheet' %}</td>
    <td><a href="{{ term_sheet }}" target="_NEW" class="btn btn-link btn-primary">{% trans '.PDF Download' %}</a></td>
  </tr>
  <tr>
    <td>{% trans 'Finanzplan' %}</td>
    <td><a href="{% url 'project:media_permalink' slug=project_slug media_slug=finance_plan.uuid %}" target="_NEW" class="btn btn-link btn-primary">{% trans '.PDF Download' %}</a></td>
  </tr>

  {% for row in documents %}
    <tr>
      <td>{{ row.name }}</td>
      
      <td><a href="{% url 'project:media_permalink' slug=project_slug media_slug=row.uuid %}" target="_NEW" class="btn btn-link btn-primary">{% trans '.PDF Download' %}</a></td>
    </tr>
  {% endfor %}

  </table>
</div>