{% load i18n project_tags %}
{% for project in project_list %}
  <div class="row featurette">
    <div class="col-md-7 col-md-push-3">
      <h3 class="featurette-heading"><a href="{{ project.url }}">{{ project.name }}</a><br/><small><span class="text-muted">{{ project.proposition }}</span></small></h3>
      <p class="lead">{{ project.description }}</p>
      <p><a href="{{ project.url }}">{% trans "Details" %}</a></p>
    </div>
    <div class="col-md-3 col-md-pull-7">
      {% project_stats project %}
    </div>
  </div>
  <hr class="featurette-divider">
{% empty %}
{% endfor %}