{% load i18n static djmoney %}
{% comment %}
This is view is deliberately without a outer div, allows you to define the project _stats width col-sm-2 or col-sm-7
{% endcomment %}
<img src="{% get_media_prefix %}{{ project.image }}" class="img img-responsive center-block" alt="" title="" />
<div class="">
  <div class="col-md-12 text-center">
    <p><b>{% trans "Investment Goal:" %}</b> {% money_localize project.amount %}</p>
  </div>

  <div class="col-md-12">
    {% if project.percent > 0 %}
    <div class="row progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent }}%">
        {{ project.percent }}%
      </div>
    </div>
    {% else %}
      <div class="alert alert-success" role="alert">{% trans "<b>NB</b> Be one of the first to invest in this opportunity" %}</div>
    {% endif %}
  </div>

  <div class="col-md-12">
    <div class="col-sm-6 well well-sm text-center">
      {% trans "Backers" %}<br/><span class="badge">{{ project.num_backers }}</span>
    </div>
    <div class="col-sm-6 well well-sm text-center">
      {% trans "Revenue" %}<br/><span class="badge">{% money_localize project.revenue %}</span>
    </div>
  </div>

</div><!-- End investment row -->
