{% extends 'project/base.html' %}

{% block page_title %}List of Projects{% endblock %}
{% block page_description %}A list of available projects{% endblock %}
{% block page_keywords %}list,projects{% endblock %}

{% block content %}
<div class="row">
{% for row in object_list %}
  <div class="col-sm-4">
    <h3><a href="{{ row.url }}">{{ row.name }}</a></h3>
    <p><small>{{ row.proposition }}</small></p>
  </div>
{% empty %}
  <div class="col-sm-4">
    <h3>No Projects Found</h3>
  </div>
{% endfor %}
</div>
{% endblock %}