{% extends 'project/base.html' %}{% load pipeline i18n l10n static djmoney embed_video_tags leaflet_tags project_tags %}

{% block page_title %}{{ project.name }} - Project Detail{% endblock %}
{% block page_description %}A list of available projects{% endblock %}
{% block page_keywords %}list,projects{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
    <div class="col-md-9" style="padding:0px;">
      <h1>{{ project.name }}<br/><small>{{ project.proposition }}</small></h1>
    </div>
    <div class="col-md-3 text-center" style="padding-top:35px;">
      {% if object.is_available_for_investment %}
        <a href="{% url 'order:create' project_slug=project.slug %}" class="btn btn-primary btn-lg" name="" id="">{% trans "Invest Now" %}</a>
      {% else %}
        <a href="" class="btn btn-default btn-lg" name="" id="">{% blocktrans with available_from=object.date_available %}Available from {{ available_from }}{% endblocktrans %}</a>
      {% endif %}
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-5">
    {% project_stats project %}
  </div>
  <div class="col-sm-7">

      <div class="col-sm-5 well well-sm text-center">Interest rate: {{ project.interest_rate }} %</div>
      <div class="col-sm-5 col-sm-push-2 well well-sm text-center">Running Time: {{ project.running_time }}</div>
      <div class="clearfix"></div>
      <div class="col-sm-12">
        <h3>{% trans 'Overview' %}</h3>
        <p class="">{{ project.description }}</p>
        <p class="">minimum_investment: {{ project.minimum_investment }}</p>
        <p class="">target amount: {% money_localize project.amount %}</p>
        <p class="">interest_term: {{ project.interest_length }}</p>
        <p class="">Type of Interest rate: {{ project.interest_type }}</p>
        <p class="">Funding ends: {{ project.expiration }}</p>
      </div>

  </div>

</div><!-- End row -->

<!--   <div class="col-md-12">
{% if project.percent > 0 %}
<div class="row progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent }}%">
    {{ project.percent }}%
  </div>
</div>
{% else %}
  <div class="alert alert-success" role="alert">{% trans "<b>NB</b> Be one of the first to invest in this opportunity" %}</div>
{% endif %}
</div> -->
<hr/>
<ul id="project-tabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#project-documents" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Documents' %}</a></li>
  {# <li role="presentation"><a href="#project-description" aria-controls="home" role="tab" data-toggle="tab">{% trans 'Project description' %}</a></li> #}
  {# <li role="presentation"><a href="#project-participation" aria-controls="profile" role="tab" data-toggle="tab">{% trans 'Participation Model' %}</a></li> #}
  <li role="presentation"><a href="#project-news" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'Latest News' %}</a></li>
  {# <li role="presentation"><a href="#project-faq" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'F.A.Q' %}</a></li> #}
</ul>

<div class="tab-content">

  <div id="project-documents" role="tabpanel" class="tab-pane fade in active">
    <h3>{% trans 'Documents' %}</h3>
    {% project_docs project header=False %}
  </div>

  <div id="project-description" role="tabpanel" class="tab-pane fade">
    <div class="row">
      <div class="col-sm-6">
        <h3>{% trans 'Building Details' %}</h3>
        <p class="">building_type: {{ project.building_type }}</p>
        <p class="">building_status: {{ project.building_status }}</p>
        <p class="">building_location: {{ project.building_location }}</p>
      </div>
      <div class="col-sm-6">
        <h3>{% trans 'Map' %}</h3>
        {% leaflet_map 'location_map' callback="window.map_init_basic" %}
      </div>
    </div>
  </div>

  <div id="project-participation" role="tabpanel" class="tab-pane fade">
    <h3>{% trans 'How it works' %}</h3>
    <div class="col-sm-12">
      <img src="{% get_static_prefix %}img/sharing-model.png" class="img img-responsive" title="" alt="" />
    </div>
  </div>

  <div id="project-news" role="tabpanel" class="tab-pane fade">
    <div class="col-sm-12"><!-- Loaded via js --></div>
  </div>

  <div id="project-faq" role="tabpanel" class="tab-pane fade">
    <div class="col-sm-12">
      <h3>{% trans 'F.A.Q' %}</h3>
      <p>Please provide FAQ content</p>

      <div class="list-group">
        <a href="javascript:;" target="_NEW" class="list-group-item faq">
          <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b></p>
          <div class="answer collapse">Ut sodales maximus mi vitae facilisis. Pellentesque a egestas quam. Nam quis lorem velit. Phasellus tincidunt faucibus sodales. Donec lacinia sem justo, ac feugiat magna interdum a. Nunc a elementum tortor. Donec condimentum, erat a vestibulum commodo, nunc ex mattis enim, a efficitur ex sem a nulla. Mauris sodales, quam et vestibulum congue, arcu risus consectetur leo, eu fringilla ipsum enim id magna. Aliquam gravida convallis orci. Vivamus eu tempus ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc laoreet varius metus vitae bibendum. Nullam id nisl at magna efficitur vehicula. Phasellus mollis risus ut diam bibendum rutrum. Sed porttitor augue at pharetra viverra.</div>
        </a>
      </div>

    </div>
  </div>

</div><!-- End tabs -->



<!-- MODAL -->
<div class="modal fade" id="tc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-label"></h4>
      </div>
      <div id="modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
{% endblock %}

{% block css %}
  {{ block.super }}
  {% leaflet_css %}
  <style>
  .well {
    margin-bottom:10px;
  }
  </style>
{% endblock %}


{% block javascript %}
  {{ block.super }}

  {% javascript 'project' %}

  {% leaflet_js %}

  <script type="text/javascript">
  $( document ).ready(function() {
    'use strict';
    //
    // Map handler
    //
    function map_init_basic (map, options) {
        map.setView(new L.LatLng('{{ object.lat_long.latitude }}', '{{ object.lat_long.longitude }}'), 9);
        L.marker(['{{ object.lat_long.latitude }}', '{{ object.lat_long.longitude }}']).addTo(map);
    }

    //
    // Handle tabs
    //
    $('#project-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });

    //
    // Modal Window loaders and settings
    //
    $('#tc-modal').on('show.bs.modal', function (e) {
      // load appropriate content
      var source = $(e.relatedTarget);
      var data_source = $('#'+ source.data().source);
      $('#modal-label').html(source.data().title);
      $('#modal-body').html(data_source.html());
    });

    //
    // F.A.Q collapsable setting
    //
    $('.faq').on('click', function (e) {
      e.preventDefault();
      $($(this).find('.answer')).collapse('toggle');
    })

    //
    // RSS and News loader
    //
    window.embedLoadingAnimation($("#project-news"));

    $("#project-news").rss("https://today-capital.de/feed/", {
      limit: 6,
      dateFormat: 'MMMM Do, YYYY',
      dateLocale: 'de',
      dateFormatFunction: function (datePublished) {
        return moment(datePublished).format('MMMM Do YYYY');
      },
      layoutTemplate: '<h3>{% trans "Latest News" %}</h3><div class="list-group">{entries}</div>',
      entryTemplate: '<a target="_NEW" href="{url}" class="list-group-item"><b>{title}</b><br/><em>{date}</em><br/>{shortBodyPlain}</a>',
    }, function () {
      window.removeEmbedLoadingAnimation($("#project-news"));
    });
  });
  </script>
{% endblock %}