{% extends 'project/base.html' %}{% load i18n static project_tags %}

{% block page_title %}List of Projects{% endblock %}
{% block page_description %}A list of available projects{% endblock %}
{% block page_keywords %}list,projects{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
    <div class="col-md-12" style="padding:0px;">
      <h1>{% trans 'Current Projects' %}<br/><small>{% blocktrans %}A list of our current projects{% endblocktrans %}</small></h1>
    </div>
</div>
<div class="clearfix"></div>
{% endblock %}


{% block content %}
{% project_preview project_list %}
{% endblock %}