{% extends 'project/base.html' %}{% load i18n static djmoney embed_video_tags %}

{% block page_title %}{{ project.name }} - Project Detail{% endblock %}
{% block page_description %}A list of available projects{% endblock %}
{% block page_keywords %}list,projects{% endblock %}

{% block page_header %}
<div class="jumbotron clearfix"></div>
<div class="col-md-10 col-md-push-1 content">
  <h1>{{ project.name }}<br/><small>{{ project.proposition }}</small></h1>

  <p><b>{% trans "Investment Goal:" %}</b> {% money_localize project.amount %}</p>

  <div class="col-md-6">
    <div class="col-sm-6 well well-sm text-center">
      {% trans "Backers" %}<br/><span class="badge">{{ project.num_backers }}</span>
    </div>
    <div class="col-sm-6 well well-sm text-center">
      {% trans "Revenue" %}<br/><span class="badge">{% money_localize project.revenue %}</span>
    </div>
  </div>

  <div class="col-md-12">
    {% if project.percent > 0 %}
    <div class="row progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent }}%">
        {{ project.percent }}%
      </div>
    </div>
    {% else %}
      <div class="alert alert-success" role="alert">{% trans "<b>NB</b> Be one of the first to invest in this opportunity" %}</div>
    {% endif %}
  </div>

  <div class="text-center col-md-6 col-md-push-3" style="padding-bottom:25px;">
    <a href="{% url 'order:create' project_slug=project.slug %}" class="btn btn-success btn-lg" name="" id="">{% trans "Invest Now" %}</a>
  </div>
  <br/><br/><br/><br/>

</div><!-- End investment row -->
<div class="clearfix"></div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-5">
    {% if project.video %}
      {% video project.video as project_video %}
        {% video project_video "small" %}
      {% endvideo %}
    {% endif %}
  </div>

  <div class="col-offset-1 col-sm-6">
    <p class="">{{ project.description }}</p>
  </div>

</div>
{% endblock %}

{% block css %}
<style>
.jumbotron{
    background: url("{% get_media_prefix %}{{ project.image }}") no-repeat center center fixed;
    -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;
    -webkit-filter: blur(5px);-moz-filter: blur(5px);-o-filter: blur(5px);-ms-filter: blur(5px);filter: blur(5px);
    z-index:0;
    min-height:450px;
/*    position:absolute;*/
}
.content{
    z-index:10;
    position:absolute;
    top:11%;
    left:20%;
    width:60%;
    min-height:260px;
    color:#555555 !important; border-radius: 15px; background-color: rgba(244, 240, 245, 0.8); color: rgba(244, 240, 245, 1);
}
</style>
{% endblock %}