{% extends 'project/base.html' %}{% load i18n static djmoney embed_video_tags leaflet_tags project_tags %}

{% block page_title %}{{ project.name }} - Project Detail{% endblock %}
{% block page_description %}A list of available projects{% endblock %}
{% block page_keywords %}list,projects{% endblock %}

{% block page_header %}
<div class="row content">

    <div class="row">
      <div class="col-md-6">
        <h1>{{ project.name }}<br/><small>{{ project.proposition }}</small></h1>
      </div>
      <div class="col-md-6" style="padding-top:35px;">
        <a href="{% url 'order:create' project_slug=project.slug %}" class="btn btn-success btn-lg" name="" id="">{% trans "Invest Now" %}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <img src="{% get_media_prefix %}{{ project.image }}" class="img img-responsive" alt="" title="" />
        {% if project.video %}
          {% video project.video as project_video %}
            {% video project_video "small" %}
          {% endvideo %}
        {% endif %}
      </div>
      <div class="col-sm-6">
        <div class="row">
          <div class="col-sm-3 well well-sm text-center">Interest rate: {{ project.interest_rate }}%</div>
          <div class="col-sm-3 col-sm-push-1 well well-sm text-center">Running Time: {{ project.running_time }}</div>
          <div class="clearfix"></div>
          <div class="col-sm-12">
            <h3>{% trans 'Investment Overview' %}</h3>
            <p class="">{{ project.description }}</p>
            <p class="">minimum_investment: {{ project.minimum_investment }}</p>
            <p class="">target amount: {% money_localize project.amount %}</p>
            <p class="">interest_term: {{ project.interest_length }}</p>
            <p class="">Type of Interest rate: {{ project.interest_type }}</p>
            <p class="">Funding ends: {{ project.expiration }}</p>
          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12 well well-sm text-center">Funding status {{ project.percent }}%</div>
          <div class="clearfix"></div>
          <div class="col-sm-6 well well-sm text-center">
            {% trans "Backers" %}<br/><span class="badge">{{ project.num_backers }}</span>
          </div>
          <div class="col-sm-6 well well-sm text-center">
            {% trans "Revenue" %}<br/><span class="badge">{% money_localize project.revenue %}</span>
          </div>
        </div>
      </div>

    </div><!-- End row -->

<!--   <div class="col-md-12">
    {% if project.percent > 0 %}
    <div class="row progress">
      <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ project.percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.percent }}%">
        {{ project.percent }}%
      </div>
    </div>
    {% else %}
      <div class="alert alert-success" role="alert">{% trans "<b>NB</b> Be one of the first to invest in this opportunity" %}</div>
    {% endif %}
  </div> -->

</div><!-- End investment row -->
<div class="clearfix"></div>
{% endblock %}


{% block content %}
<ul id="project-tabs" class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#project-description" aria-controls="home" role="tab" data-toggle="tab">{% trans 'Project description' %}</a></li>
  <li role="presentation"><a href="#project-participation" aria-controls="profile" role="tab" data-toggle="tab">{% trans 'Participation Model' %}</a></li>
  <li role="presentation"><a href="#project-faq" aria-controls="messages" role="tab" data-toggle="tab">{% trans 'F.A.Q' %}</a></li>
</ul>

<div class="tab-content">
  <div id="project-description" role="tabpanel" class="tab-pane fade in active">
    <div class="row">
      <div class="col-sm-6">
        <h3>{% trans 'Building Details' %}</h3>
        <p class="">building_type: {{ project.building_type }}</p>
        <p class="">building_status: {{ project.building_status }}</p>
        <p class="">building_location: {{ project.building_location }}</p>
      </div>
      <div class="col-sm-6">
        <h3>{% trans 'Map' %}</h3>
        {% leaflet_map 'location_map' callback="window.map_init_basic" %}
      </div>
    </div>

  </div>

  <div id="project-participation" role="tabpanel" class="tab-pane fade">
    <div class="col-sm-12">
      <img src="{% get_static_prefix %}img/sharing-model.png" class="img img-responsive" title="" alt="" />
    </div>
  </div>

  <div id="project-faq" role="tabpanel" class="tab-pane fade">
    <div class="col-sm-12">
      <h3>{% trans 'F.A.Q' %}</h3>
      <p>Please provide FAQ content</p>
    </div>
  </div>

</div><!-- End tabs -->


<div class="row" style="margin-top:25px;">
  <div class="col-sm-12">
    <!-- Button trigger modal -->
    <button type="button" style="width:100%;" class="btn btn-info btn-lg" data-title="{% trans 'News' %}" data-source="project-news" data-toggle="modal" data-target="#tc-modal">
      {% trans 'News' %}
    </button>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-sm-12">
    <!-- Button trigger modal -->
    <button type="button" style="width:100%;" class="btn btn-info btn-lg" data-title="{% trans 'Documents' %}" data-source="project-documents" data-toggle="modal" data-target="#tc-modal">
      {% trans 'Documents' %}
    </button>
  </div>
</div>

<div id="project-news" class="hide">
  <div class="row">
    <div class="col-sm-12">
    <p>News to be shown from marketing website, please provide some news to Stefano (Currently reading from sektorm)</p>
    </div>
  </div>
</div>

<div id="project-documents" class="hide">
  <div class="row">
    <div class="col-sm-12">
      {% project_docs project %}
    </div>
  </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="tc-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-label"></h4>
      </div>
      <div id="modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL -->
{% endblock %}

{% block css %}
{{ block.super }}
{% leaflet_css %}
<style>
.well {
  margin-bottom:10px;
}
</style>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  {% leaflet_js %}
  <script type="text/javascript">
      function map_init_basic (map, options) {
          map.setView(new L.LatLng('{{ object.lat_long.latitude }}', '{{ object.lat_long.longitude }}'), 9);
          L.marker(['{{ object.lat_long.latitude }}', '{{ object.lat_long.longitude }}']).addTo(map);
      }
  </script>
  <script type="text/javascript">
  $( document ).ready(function() {
    $('#project-tabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    });
    $('#tc-modal').on('show.bs.modal', function (e) {
      // load appropriate content
      var source = $(e.relatedTarget);
      var data_source = $('#'+ source.data().source);
      $('#modal-label').html(source.data().title);
      $('#modal-body').html(data_source.html());
    });

    // rss
    $("#project-news").rss("http://sektor-m.com/feed", {
      layoutTemplate: '<ul>{entries}</ul>',
      entryTemplate: '<li><a target="_NEW" href="{url}">{title}</a><br/>{shortBodyPlain}</li>',
    }, function () {

    });

  });
  </script>
{% endblock %}