{% extends 'base.html' %}

{% block page_title %}Welcome to TodayCapital.de{% endblock %}
{% block page_description %}Your investment experts in NRW, Germany{% endblock %}
{% block page_keywords %}home,welcome,start{% endblock %}

{% block content %}
<div class="row">
{% for row in project_list %}
  <div class="col-sm-4">
    <h3><a href="{{ row.url }}">{{ row.name }}</a></h3>
    <p><small>{{ row.proposition }}</small></p>
  </div>
{% empty %}
  <div class="col-sm-12">
    <h3>No Projects Found</h3>
  </div>
{% endfor %}
</div>
{% endblock %}