{% extends 'email/base.html' %}{% load i18n djmoney %}
{% block content %}
{% spaceless %}<p>Hallo {{ order.customer_name }},</p>

<p>wir freuen uns, dass Sie sich für das Projekt {{ order.project }} entschieden haben und es mit Ihrem Investment unterstützen wollen. Vielen Dank!</p>

<p>Im nächsten Schritt erfolgt Ihre <b>Bezahlung</b> auf ein Treuhandkonto der SECUPAY AG, die die Transaktion professionell und sicher verwaltet.</p>
<p>Sie haben die Zahlung per <b>Überweisung</b> gewählt. Bitte überweisen Sie den Darlehensbetrag auf folgendes Konto:</p>

<ul>
<li><b>{% trans 'Account Owner' %}:</b> {{ order.data.payment_data.accountowner }}</li>
<li><b>{% trans 'IBAN' %}:</b> {{ order.data.payment_data.iban }}</li>
<li><b><em>{% trans 'Customer Reference' %}:</em></b> {{ order.tracking_number }}</li>
<li><b>Ihr Darlehensbetrag:</b> {% money_localize order.amount %}</li>
</ul>

<p>Nach erfolgreichem Zahlungseingang erhalten Sie von uns eine <b>E-Mail-Bestätigung</b>.</p>

<p>Ihren <b>Darlehensvertrag</b> finden Sie in der Anlage zu dieser Mail. Selbstverständlich können Sie den Darlehensvertrag speichern oder für Ihre Unterlagen ausdrucken.<p>
<!-- type: {{ order.display_payment_type }} -->
{% endspaceless %}
{% endblock %}