{% extends 'email/base.html' %}
{% block content %}
{% spaceless %}<p>Hallo {{ order.customer_name }},</p>

<p>wir freuen uns, dass Sie sich für das Projekt {{ order.project }} entschieden haben und es mit Ihrem Investment unterstützen wollen. Vielen Dank!</p>

{% if order.payment_type == 'debit' %}
  <p>Message missing if the customer has selected bank lasstschrift</p>
{% else %}
  <p>Im nächsten Schritt erfolgt Ihre Bezahlung auf ein Treuhandkonto der SECUPAY AG, die die Transaktion professionell und sicher verwaltet.
  Wenn Sie die Zahlung per Lastschrift gewählt haben und Ihre Daten erfolgreich auf unserer Webseite im Lastschrift-Formular eingetragen sind, wird der Darlehensbetrag in Kürze von Ihrem Konto eingezogen.</p>
  <p>Wenn Sie die Zahlung per Überweisung gewählt haben, überweisen Sie bitte den Darlehensbetrag auf das folgende Konto:</p>

  <ul>
  <li><b>Empfänger:</b> {{ order.SECUPAY_BANK_DATA.accountowner }}</li>
  <li><b>IBAN des Empfängers:</b> {{ order.SECUPAY_BANK_DATA.iban }}</li>
  <li><b>Verwendungszweck:</b> {{ order.uuid }}</li>
  <li><b>Ihr Darlehensbetrag:</b> {{ order.amount }}</li>
  </ul>

  <p>Nach erfolgreichem Zahlungseingang erhalten Sie von uns eine E-Mail-Bestätigung.</p>
  <p>TEXT FROM HERR EBELS HERE (tobe sent vai email)</p>
{% endif %}


{% include 'email/_footer.html' %}
{% endspaceless %}
{% endblock %}