<p><b>[Betreff]</b></p>
<p>Ihre Zahlung ist eingegangen</p>

<p>Hallo {{ order.customer_name }},</p>

<p>wir sagen Danke für Ihre Zahlung, die auf dem Treuhandkonto der SECUPAY AG eingegangen ist.</p>

<p>Ihr Investment sowie alle damit verbundenen Unterlagen können Sie jederzeit bei Anmeldung auf TodayCapital auf der Projektseite einsehen. Dort informieren wir Sie über den Verlauf des Projekts. Als Investor erhalten Sie zusätzlich pro Quartal einen persönlichen Bericht über den Projektstatus.</p>

<p><b>Investmentbetrag:</b> {{ order.amount }}</p>
<p><b>Projektbezeichnung:</b> {{ order.project }}</p>
<p><b>Bestellung ID:</b> {{ order.uuid }}</p>

{% include 'email/_footer.html' %}