{% extends 'order/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags project_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Invest Now{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>Invest in {{ project.name }}</h1>
  <p>{{ project.proposition }}</p>
  <div class="col-md-4">
  &nbsp;
  </div>
  <div class="col-md-8 text-right">
  &nbsp;
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">
    <p class="lead">{{ project.description }}</p>
  </div>

  <div class="col-sm-5">
    <div class="col-md-12" style="margin-bottom:20px;">
      <img src="{% get_media_prefix %}{{ project.image }}" class="img img-responsive" alt="" title="" />
    </div>

    <div class="col-md-12">
      <div class="col-sm-4 well well-sm text-center">
        {% trans "Backers" %}<br/><span class="badge">{{ project.num_backers }}</span>
      </div>
      <div class="col-sm-4 well well-sm text-center">
        {% trans "Revenue" %}<br/><span class="badge">{% money_localize project.revenue %}</span>
      </div>
    </div>

    <div class="col-md-12">
      {% project_docs project %}
      </ul>
    </div>

  </div>

  <div class="col-offset-1 col-sm-6">
    {% crispy form %}
  </div>

</div>
{% endblock %}
