{% extends 'order/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - {% trans 'Payment was successful' %}{% endblock %}
{% block page_description %}Payment succeeded for your investment in {{ project.name }}{% endblock %}


{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans 'Payment was successful' %}</h1>
</div>
{% endblock %}

{% block content %}

<div class="row">

  <div class="well well-lg">
    {% blocktrans with project_name=project.name %}
    <p>Thank you for your investment in {{ project_name }}.</p>
    <p>Please check your email for other important information.</p>
    {% endblocktrans %}
  </div>

</div>
{% endblock %}
