{% extends 'order/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Payment{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>Payment Details {{ project.name }}</h1>
  <p>{{ project.proposition }}</p>
  <div class="col-md-4">
  &nbsp;
  </div>
  <div class="col-md-8 text-right">
  &nbsp;
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

  {% if order.payment_type == 'prepay' %}

    <div class="col-md-12">
      <h2>Please submit payment to</h2>
      <div class="col-xs-12 well well-lg">
        <b>Bankcode:</b> {{ order.data.payment_data.bankcode }}<br/>
        <b>Account Owner:</b> {{ order.data.payment_data.accountowner }}<br/>
        <b>IBAN:</b> {{ order.data.payment_data.iban }}<br/>
        <b>BIC:</b> {{ order.data.payment_data.bic }}<br/>
        <b>Account No.:</b> {{ order.data.payment_data.accountnumber }}<br/>
        <hr/>
        <p class="lead"><b><em>Please Quote:</em></b> {{ order.transaction_id }}</p>
      </div>
    </div>

  {% else %}

    <div class="col-md-12">
      <iframe src="{{ order.data.iframe_url }}" width="100%" height="420"></iframe>
    </div>

  {% endif %}

  <div class="col-offset-1 col-sm-6">

  </div>

</div>
{% endblock %}