{% extends 'order/base.html' %}{% load i18n  %}
{% load crispy_forms_filters %}

{% block page_title %}{{ order.project.name }} - {% trans 'Payment was successful' %}{% endblock %}
{% block page_description %}Payment succeeded for your investment in {{ order.project.name }}{% endblock %}


{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans 'Payment was successful' %}</h1>
</div>
{% endblock %}

{% block content %}

<div class="row">

  <div class="well well-lg">
    {% blocktrans with project_name=order.project.name %}
    <p>Thank you for your investment in {{ project_name }}.</p>
    <p>Please check your email for other important information.</p>
    {% endblocktrans %}
  </div>

  <p>
    <a href="{{ project.url }}" class="btn btn-lg btn-info">{% trans 'Back to Project' %}</a>
  </p>

</div>
{% endblock %}
