{% extends 'order/base.html' %}{% load i18n crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Loan Agreement{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans 'Your Loan Agreement' %}</h1>
  <p>{% blocktrans with project_name=project.name %}Thank you for deciding to support the {{ project_name }} project with your investment.' {% endblocktrans %}</p>
  <div class="col-md-4">
  &nbsp;
  </div>
  <div class="col-md-8 text-right">
  &nbsp;
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">
    <p>{% blocktrans %}You can download the generated Loan Agreement by clicking on the button below.{% endblocktrans %}</p>
  </div>

  <div class="col-md-12" style="margin:10px 0px;">
    <a href="{{ document.url }}" target="_NEW" class="btn btn-lg btn-info">{% trans 'Download Loan Agreement' %}</a>
  </div>

  <div class="col-offset-1 col-sm-6">
    {% crispy form %}
  </div>

</div>
{% endblock %}
