{% extends 'order/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags project_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Invest Now{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>Invest in {{ project.name }}</h1>
  <p>{{ project.proposition }}</p>
</div>
<div class="clearfix"></div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-5">

    <div class="col-md-12" style="margin-bottom:20px;padding:0px;">
      <img src="{% get_media_prefix %}{{ project.image }}" class="img img-responsive" alt="" title="" />
    </div>

    <div class="col-sm-12" style="padding:0px;">
      <div class="col-sm-4 well well-sm text-center">
        {% trans "Backers" %}<br/><span class="badge">{{ project.num_backers }}</span>
      </div>
      <div class="col-sm-4 well well-sm text-center">
        {% trans "Revenue" %}<br/><span class="badge">{% money_localize project.revenue %}</span>
      </div>
    </div>

    <div class="col-sm-12" style="padding:0px;">
      {% project_docs project %}
      </ul>
    </div>

  </div>

  <div class="col-sm-7">
    <!-- <p>{{ project.description }}</p> -->
    {% crispy form %}
  </div>

</div>
{% endblock %}
