{% extends 'project/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Payment{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>Payment Details {{ project.name }}</h1>
  <p>{{ project.proposition }}</p>
  <div class="col-md-4">
  &nbsp;
  </div>
  <div class="col-md-8 text-right">
  &nbsp;
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">

  {% if order.payment_type == 'bank_transfer' %}

    <div class="col-md-12">
      <h2>The secupay payment iframe here</h2>
    </div>

  {% else %}

    <div class="col-md-12">
      <h2>Our Bank Details Here</h2>
    </div>

  {% endif %}

  <div class="col-offset-1 col-sm-6">

  </div>

</div>
{% endblock %}