{% extends 'order/base.html' %}{% load i18n static crispy_forms_tags djmoney embed_video_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Payment{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans 'Payment Details' %} - {{ project.name }}</h1>
  <p>{{ project.proposition }}</p>
</div>
{% endblock %}

{% block content %}

<div class="row">

  {% if SECUPAY_DEMO %}
  <div class="col-md-12">
    <div class="alert alert-danger">
      <p><b>Secupay DEMO MODE</b>: No actual payment will take place.</p>
      <p>Please use the following IBAN numbers for testing<br/><a href="http://www.iban-bic.com/sample_accounts.html" target="_NEW">source</a></p>

      <p><b>CORRECT:</b><br/>
      <b>Nationale Kontonummer:</b> 0648489890<br/>
      <b>BLZ:</b> 50010517<br/>
      <b>IBAN:</b> DE12500105170648489890</p>
      <p>&nbsp;</p>
      <p><b>INCORRECT:</b><br/>
      <b>Nationale Kontonummer:</b> 064847930<br/>
      <b>BLZ:</b> 50010517<br/>
      <b>IBAN:</b> DE1206484793050010517</p>
    </div>
  </div>
  {% endif %}

  {% if order.payment_type == 'prepay' %}

    <!--<div class="col-md-12 text-center" style="padding-bottom:20px;">
      <a href="{{ project.url }}" class="btn btn-lg btn-info">{% trans 'Back to Project' %}</a>
    </div>-->

    <div class="col-md-12">
      <h2>{% trans 'Please make payment out to' %}</h2>
      <div class="col-xs-12 well well-lg">
        <b>{% trans 'Bank Name' %}:</b> {{ SECUPAY_BANK_DATA.bankname }}<br/>
        <!--<b>{% trans 'Bankcode' %}:</b> {{ SECUPAY_BANK_DATA.bankcode }}<br/>-->
        <b>{% trans 'Account Owner' %}:</b> {{ SECUPAY_BANK_DATA.accountowner }}<br/>
        <b>{% trans 'IBAN' %}:</b> {{ SECUPAY_BANK_DATA.iban }}<br/>
        <b>{% trans 'BIC' %}:</b> {{ SECUPAY_BANK_DATA.bic }}<br/>
        <!--<b>{% trans 'Account No.' %}:</b> {{ SECUPAY_BANK_DATA.accountnumber }}<br/>-->
        <hr/>
        <p class="lead"><b><em>{% trans 'Customer Reference' %}:</em></b> {{ order.tracking_number }}</p>
      </div>
    </div>

  {% else %}

    <div class="col-md-12">
      <iframe id="secupay" src="{{ order.data.iframe_url }}" width="100%" height="640"></iframe>
    </div>

  {% endif %}

</div>
{% endblock %}


{% block css %}
<style>
iframe#secupay {
  width:100%;
  min-height:640px;
  max-height:640px;
  border:solid #ccc 0px;
}
</style>
{% endblock %}