{% extends 'order/base.html' %}{% load i18n crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block page_title %}{{ project.name }} - Loan Agreement{% endblock %}
{% block page_description %}Invest in {{ project.name }}{% endblock %}
{% block page_keywords %}invest,project,and-development,development{% endblock %}

{% block page_header %}
<div class="page-header clearfix">
  <h1>{% trans 'Loan Agreement' %}</h1>
  <p>{{ project.name }}, {{ project.proposition }}</p>
  <div class="col-md-4">
  &nbsp;
  </div>
  <div class="col-md-8 text-right">
  &nbsp;
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">
    {% blocktrans with minimum='100.000' %}<p>I confirm that I have a freely available assets in the form of bank deposits and financial instruments of at least {{minimum}} € either</p><p>OR that the total amount of my investment in this project is not twice my monthly average. Net income exceeds.</p>{% endblocktrans %}
  </div>

  <div class="col-md-12" style="margin:10px 0px;">
    <a href="{{ document.url }}" target="_NEW" class="btn btn-lg btn-info">Darlehensvertrag Unterladen</a>
  </div>

  <div class="col-offset-1 col-sm-6">
    {% crispy form %}
  </div>

</div>
{% endblock %}
