<!doctype html>{% load pipeline i18n pages_tags static flags %}{% load_pages %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as current_lang %}
<html lang="{{ LANGUAGE_CODE|default:"de" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}TodayCapital.de{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />

    {% block page_itemprops %}{% endblock %}

    <!-- SocialSharing -->
    {% block page_ogprops %}{% endblock %}

    {% stylesheet 'base' %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ current_lang.code }}/"><img class="img img-responsive" src="{% get_static_prefix %}img/todaycapital-logo-white-bg-160.png" alt="" title="" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/{{ current_lang.code }}/">{% trans 'Home' %}</a></li> -->
            {% for page in pages_navigation %}
                {% pages_menu page %}
            {% endfor %}
            <!-- Languages -->
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% famfamfam_flag_icon current_lang %}{{ current_lang.name_translated }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for lang in LANGUAGES %}
                <li class="{% if LANGUAGE_CODE == lang.0 %}active{% endif %}">
                  <a href="/{{ lang.0 }}">{{ lang.1 }}</a>
                </li>
                {% endfor %}
              </ul>
            </li> -->
            <!-- End languages -->
            {% if not user.is_authenticated %}
            <li><a href="{% url 'account_login' %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans 'Register' %}</a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Settings' %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account_email' %}">{% trans 'Email Settings' %}</a></li>
                <li><a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a></li>
                <li><a href="{% url 'account_inactive' %}">{% trans 'Cancel Account' %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'order:user_list' %}">{% trans 'Investment History' %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div id="outer-wrapper" class="container">
        {% block page_header %}{% endblock %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div><!-- end id="outer-wrapper" -->

    <!-- FOOTER -->
    <footer class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 TodayCapital.de, GmBH. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

    {% javascript 'base' %}
    {% block javascript %}{% endblock %}
  </body>
</html>

