<!doctype html>{% load pipeline i18n pages_tags static flags %}{% load_pages %}
{% get_pages_with_tag "main" as pages_main %}
{% get_pages_with_tag "footer" as pages_footer %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as current_lang %}
<html lang="{{ LANGUAGE_CODE|default:"de" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <meta charset="utf-8">
    <title>{% block page_title %}TodayCapital.de{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}" />

    {% block page_itemprops %}{% endblock %}

    <!-- SocialSharing -->
    {% block page_ogprops %}{% endblock %}

    {% stylesheet 'base' %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}{% endblock %}

  </head>
  <body>

    <nav class="navbar navbar-fixed-top navbar-fixed">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ current_lang.code }}/p/start"><img class="img img-responsive" style="height:48px;" src="{% get_static_prefix %}img/todaycapital-logo-white-bg-160.png" alt="" title="" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a href="/{{ current_lang.code }}/">{% trans 'Home' %}</a></li> -->
            {% for page in pages_main %}
                {% pages_menu page %}
            {% endfor %}
            <!-- Languages -->
<!--             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% famfamfam_flag_icon current_lang %}{{ current_lang.name_translated }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for lang in LANGUAGES %}
                <li class="{% if LANGUAGE_CODE == lang.0 %}active{% endif %}">
                  <a href="/{{ lang.0 }}">{{ lang.1 }}</a>
                </li>
                {% endfor %}
              </ul>
            </li> -->
            <!-- End languages -->
            {% if not user.is_authenticated %}
            <li><a href="{% url 'account_login' %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans 'Register' %}</a></li>
            {% else %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans 'Settings' %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="text-center">{{ user.first_name|default:user.email|default:user.username }}</li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account_email' %}">{% trans 'Email Settings' %}</a></li>
                <li><a href="{% url 'account_change_password' %}">{% trans 'Change Password' %}</a></li>
                <!-- <li><a href="{% url 'account_inactive' %}">{% trans 'Cancel Account' %}</a></li> -->
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'order:user_list' %}">{% trans 'Investment History' %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'account_logout' %}">{% trans 'Logout' %}</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% block outer_content %}{% endblock %}

    <div id="outer-wrapper" class="container" style="margin-top:45px;">
        {% block page_header %}{% endblock %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div><!-- end id="outer-wrapper" -->

    <!-- FOOTER -->
    <footer class="container">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 TodayCapital.de, GmBH. &middot;</p>
      <ul class="nav navbar-nav">
      {% for page in pages_footer %}
          {% pages_menu page %}
      {% endfor %}
      </ul>
    </footer>

    <script type="text/javascript">
      window.STATIC_URL = '{% get_static_prefix %}';
      window.MEDIA_URL = '{% get_media_prefix %}';

      /**
      * Embed our loading animation into the targets html
      */
      window.embedLoadingAnimation = function (target) {
        var animated_svg = '<object class="loading" data="'+ window.STATIC_URL +'img/ring-alt.svg" width="45" height="45" style="margin: 0 auto;width:100%;" type="image/svg+xml"> <img src="'+ window.STATIC_URL +'img/ring-alt.gif" width="45" height="45" alt="{% trans 'Please wait' %}" /></object>';
        target.html(animated_svg);
      }
      /**
      * Remove the targets loading animation
      * used from promise and callbacks
      */
      window.removeEmbedLoadingAnimation = function (target) {
        target.find('.loading').remove();
      }

    </script>
    {% javascript 'base' %}
    {% block javascript %}{% endblock %}
  </body>
</html>

