<p>Viele Grüße,<br/>
Ihr Team von TodayCapital</p>


<p>TodayCapital GmbH<br/>
Eingetragen AG Mönchengladbach HRB 9999</p>
<p>
<b>Adresse:</b><br/>
Strasse/Nr.<br/>
PLZ<br/>
Ort<br/>
Land<br/>
Name des Geschäftsführers<br/>
Kontaktdaten<br/>
Email<br/>
Telefon<br/>
Fax<br/>
</p>

<p>Dies ist eine persönliche und vertrauliche Mitteilung. Sollten Sie nicht der richtige Empfänger sein, löschen Sie bitte diese Mitteilung und informieren Sie den Absender von der irrtümlichen Zustellung. Die Mitteilung oder deren Anhänge zu öffnen, zu kopieren oder weiterzuleiten ist im Falle irrtümlicher Zustellung gesetzlich verboten. Rechtlich bindende Verpflichtungen oder Vertragsbeziehungen entstehen aus dieser Mitteilung nur dann, wenn dies zuvor ausdrücklich schriftlich vereinbart wurde.</p>

<p>This message contains private and confidential information intended for a specific individual and purpose, and is protected by law. If you are not the intended recipient, you should delete this message and are hereby notified that any disclosure, copying, or distribution of this message, or the taking of any action based on it, is strictly prohibited.</p>